<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <!-- TODO: flex-container -->
    <ul>
        <li>Bokeh</li>
        <li><a href="{{ url_for('overview') }}">Menu</a></li>
        <li><a href="{{ url_for('trends.trends') }}">Trends</a></li>
        <li><a href="{{ url_for('category.category') }}">Categories</a></li>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>