<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
    <nav>
        <!-- TODO: flex-container -->
        <div class="menu">
            <div>Bokeh</div>
            <div><a href="{{ url_for('overview') }}">Menu</a></div>
            <div><a href="{{ url_for('trends.trends') }}">Trends</a></div>
            <div><a href="{{ url_for('category.category') }}">Categories</a></div>
        </div>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>