<link rel="stylesheet" href="{{ url_for ('static', filename='settings.css') }}">
{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div class="settings_title">
        Settings
    </div>
    <div class="menu_button">
        Gnucash Filepath
    </div>
    <div class="button_content">
        <p>Current file Path: <span>{{ file_path }}</span>  </p><br>
        <form action="" method="post">
            <input type="text" name="file_path" id="file_path">
            <input type="submit">
        </form>
    </div>
    <div class="menu_button">
        Month Range
    </div>
    <div class="button_content">
        {{month_range|safe}}
    </div>
    <div class="menu_button">
        Categories
    </div>
    <div class="button_content">
        {{categories|safe}}
    </div>

<script src="{{ url_for('static', filename='settings.js') }}"></script>

{% endblock %}