<link rel="stylesheet" href="{{ url_for ('static', filename='settings.css') }}">
{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div class="settings_title">
        Settings
    </div>
    <div class="menu_button">
        Gnucash Filepath
    </div>
    <div class="button_content">
        <br><div style="font-weight:bold;">Work In Progress</div>
        <div>To change file path to your gnucash file, navigate to <i>gnucash_file_path.cfg</i> where your
        app is located and change GNUCASH_FILE_PATH parameter.</div><br>
        <p>Current file Path: <span style="font-weight: bold;">{{ file_path }}</span>  </p><br>
    </div>
    <div class="menu_button">
        Month Range
    </div>
    <div class="button_content">
        {{month_range|safe}}
    </div>
    <div class="menu_button">
        Categories
    </div>
    <div class="button_content">
        {{categories|safe}}
    </div>

<script src="{{ url_for('static', filename='settings.js') }}"></script>

{% endblock %}