:root {
    --base-color: #19529c;
    --normal-text-color: #8C8C8C;
    --normal-link-color: #8CA8CD;
}

.statistics_div table {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.bk.title_row {
    width: 100% !important;
}

.bk.category_title {
    width: 100% !important;
}

.bk.category_title {
    text-align: left;
    color: var(--base-color);
    font-size: 3em;
    padding-left: 4px;
    padding-bottom: 8px;
}

.bk.first_row {
    width: 100% !important;
}

.bk.first_row > div:last-child {
    left: 50% !important;
}

.bk.first_row > div:nth-child(2) {
    left: 25% !important;
}

.line_tooltip {
    color: var(--normal-text-color);
    font-size: 1.3em;
}

.line_tooltip span:first-child {
    color: var(--base-color);
}

.line_tooltip span:last-child {
    color: black;
}

.bk.bk-input {
    color: inherit;
    border: 1px solid #D1DCEB;
    font-size: 1.5em;
   /* -webkit-appearance: none; */

}

select > option {
    background-color: red !important;
}

/*

#category_view {border: 0px solid black; width: 100%;}
.bk.statistics_div {font-family: "Lato"}
.bk.description_div {font-family: "Lato"}
.bk.category_dropdown {font-family: "Arial"}
.bk {font-family: "Lato"}
#category_title {font-size: 1.5em;}
*/