.statistics_div table {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.bk.category_title h1 {
    text-align: left;
    color: #5E85B9;
    font-size: 3em;
}
/*

#category_view {border: 0px solid black; width: 100%;}
.bk.statistics_div {font-family: "Lato"}
.bk.description_div {font-family: "Lato"}
.bk.category_dropdown {font-family: "Arial"}
.bk {font-family: "Lato"}
#category_title {font-size: 1.5em;}
*/