.bk.first_row {
    width: 100% !important;
}

.bk.category_title {
    width: 100% !important;
}

.bk.category_title {
    text-align: left;
    color: var(--base-color);
    font-size: 3em;
    padding-bottom: 8px;
}

.bk.second_row {
    width: 100% !important;
}

.bk.second_row > div:last-child {
    left: 50% !important;
}

.bk.second_row > div:nth-child(2) {
    left: 25% !important;
}

.statistics_table table {
    table-layout: fixed;
    width: 90% !important;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border-collapse: collapse;
}

.statistics_table thead th:first-child {
    width: 70%;
}

.statistics_table tbody tr:not(:first-child) {
    border-top: 1px solid var(--light-gray);
}

.statistics_table th, td {
    padding: 4px;
}

.statistics_table th {
    text-align: left;
    font-weight: normal;
    font-size: 1.2em;
}

.statistics_table td {
    text-align: right;
    font-size: 1.3em;
    color: var(--normal-link-color);
}

.statistics_table tfoot td {
    font-size: 0.9em;
    font-style: italic;
    color: #C5C5C5;
}

.statistics_table caption {
    font-size: 1.7em;
    text-align: left;
    padding-left: 4px;
    font-weight: bold;
}

.bk.bk-input {
    color: inherit;
    border: 1px solid #D1DCEB;
    font-size: 1.25em;
    -webkit-appearance: none;
}

.bk.info_element span {
    color: var(--contrary-color);
    opacity: 0.6;
    font-weight: bold;
    font-size: 2em;
}

.bk.info_element span::before::after {
    content: " ";
}

.bk.info_column .info_element:nth-child(2n+1) {
    border-top: 1px solid var(--light-gray);
}

.bk.info_column .info_element:nth-child(2n+1) span {
    color: var(--base-color);
    opacity: 0.6;
}

.bk.third_row {
    color: #6A6A6A !important;
    font-family: inherit !important;
}