.bk.title_row {
    width: 100% !important;
    font-size: 3em;
    color: var(--base-color);
    padding-bottom: 8px;
}

.bk.title_row > div {
    margin-right: 8px;
}

.bk.month_title, .bk.month_dropdown {
    color: inherit !important;
    font-size: inherit !important;
    float: left !important;
    top: 0px !important;
    height: 100% !important;
}

.bk.month_dropdown > div {
    display: block !important;
}

.bk.month_dropdown {
    width: auto !important;
    position: static !important;
    left: 0px !important;
}

.bk.month_title {
    position: static !important;
}

.bk.bk-input-group {
    width: auto !important;
}

.bk.bk-input {
    color: inherit;
    border: 0px solid #D1DCEB;
    font-size: inherit;
    -webkit-appearance: none;
    width: auto !important;
    padding: 0px !important;
    background: linear-gradient(to bottom left,transparent 50%,var(--light-gray) 0) bottom left/15px 15px no-repeat,
        white;
    border-radius: 0px;
}

.bk.chosen_month_row {
    width: 100% !important;
}

.bk.chosen_month_row > div:last-child {
    left: 60% !important;
}

.bk.chosen_month_row > div:nth-child(2) {
    left: 28% !important;
}


.info_element:first-child, .info_element:nth-child(3) {
    border-top: 1px solid var(--light-gray);
}



.bk.info_element span {
    color: var(--normal-link-color);
    opacity: 1;
    font-weight: bold;
    font-size: 1.5em;
}

.bk.info_element span::before::after {
    content: " ";
}

.bk.info_element:first-child, .bk.info_element:nth-child(2) {
    text-align: center;
    color: var(--gray-title);
/*    color: black;
    opacity: 0.8; */
}


.bk.info_element:first-child span {
    color: var(--background-link-color);
    font-size: 2.5em;
    font-weight: bold;
    opacity: 1;
}

.bk.info_element:nth-child(3) {
    font-size: 2.1em;
    font-weight: bold;
    padding-top: 8px;
}

.bk.piechart_column {
    width: 25% !important;
}

.bk.barchart_column {
    width: 48% !important;
    float: right;
}

.bk.savings_information {
    font-size: 1.4em;
}

.bk.savings_information span {
    font-weight: bold;
    font-size: 1.1em;
}

.bk.savings_information p {
    font-size: 0.8em;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.bk.savings_information p:nth-child(2) {
    margin-top: 16px;
}

.bk.savings_information p:last-child {
    margin-bottom: 16px;
}

#positive_savings {
    color: #0f5e3b;
}

#negative_savings {
    color: var(--contrary-color);
}

.bk.category_expenses_title {
    font-size: 2.1em;
    font-weight: bold;
}