:root {
    --base-color: #19529c;
    --contrary-color: #9c2b19;
    --normal-text-color: #8C8C8C;
    --normal-link-color: #8CA8CD;
    --background-link-color: #5E85B9;
    --light-gray: #DCDCDC;
}

