/* base color: #19529c */

:root {
    --base-color: #19529c;
    --contrary-color: #9c2b19;
    --normal-text-color: #8C8C8C;
    --normal-link-color: #8CA8CD;
    --hover-link-color: white;
    --background-link-color: #5E85B9;
    --settings-link-color: #c6d4e6;
    --gray-title: #808080;
    --light-gray: #DCDCDC;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    background: white;
    padding: 16px;
}

.main {
    max-width: 1280px;
    margin: 0 auto;
    color: var(--normal-text-color);
    background: white;
    border: 2px solid #D1DCEB;
    box-shadow: -4px 4px 2px #E8EDF5;
    overflow: auto;
}

/* nav */

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-color: var(--background-link-color);
    font-size: 1.5em;
    padding: 0px 5px;
    background: #FCFCFC;
}

.menu div {
    border: 0px solid black;
    margin: 1px 1px;
}

.menu div:first-child {
    margin-right: auto; /* moves the element to the left */
    font-size: 1.3em;
}

.menu div:not(:first-child):hover {
    background: var(--background-link-color);
    border-radius: 6px;
}

.menu a {
    color: var(--normal-link-color);
    text-decoration: none;
    padding: 4px 4px;
}

.menu a:visited {
    color: var(--normal-link-color);
    text-decoration: none;
}

.menu a:hover {
    color: var(--hover-link-color);
}

.menu #settings {
    color: var(--settings-link-color);
}

.menu #settings:visited {
    color: var(--settings-link-color);
}

.menu #settings:hover {
    color: var(--background-link-color);
}

/* content */

.content {
    padding: 12px 18px;
    margin-bottom: 16px;
}

.bk-root {
    color: inherit;
    font-family: inherit;
}


.bk.info_column {
    width: 22% !important;
}


.bk.info_element {
    padding-top: 8px;
    font-size: 1.1em;
    text-align: justify;
    width: 100% !important;
    position: static !important;
}

.hover_tooltip {
    color: var(--normal-text-color);
    font-size: 1.3em;
}

.hover_tooltip span:first-child {
    color: var(--base-color);
}

.hover_tooltip span:last-child {
    color: black;
}

/* view-specific */

/*
#trends_text {border: 0px solid black; width: 30%; }
#trends_barplot {border: 0px solid black; width: 70%;}
#trends_barplot div {float: right; }

#overview_text {border: 0px solid black; width: 40%; }
#overview_stats {border: 0px solid black; width: 60%; text-align: center; }


*/